// App-wide styles for high-level elements

section {
  padding:0 1em;
  text-align:center;

  @include large {
    padding:0;
  }
}

.main {
  font-size:1.3em;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  &:before {
    background: #fff;
    content: '';
    display: block;
    height: 500px;
    left: 0;
    position: absolute;
    right: 0;
    top:-197px;
    transform: skewY(-7.5deg);
    transform-origin: 100% 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;

    @include giant {
      top:-295px;
    }
  }
}

.inner {
  @include outer-container;
  margin:3em auto 5em;
  min-height:500px;
  max-width: 95%;

  @include medium {
    margin:0em auto 5em;
    max-width: 80%;
  }

  @include large {
    max-width: 60%; 
  }
}

// Spotify
#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.main {
  .search_result {
    @include outer-container;
    @include clearfix;
    margin-bottom: 1em;

    iframe, button {
      @include span-columns(11);
      margin-bottom: .3em;

      @include medium {
        @include span-columns(6);
      }
    }
  }

  .search_button {
    margin-bottom: 1em;
    padding: 1em;
  }
}