// App-wide styles for high-level elements

section {
  @include outer-container;
  padding:0 1em;
  text-align:center;

  @include large {
    padding:0;
  }
}

.main {
  margin:3em auto;
  min-height:500px;
  max-width: 95%;

  @include medium {
    margin:5em auto;
    max-width: 80%;
  }

  @include large {
    max-width: 60%; 
  }
}

// Spotify
#login, #loggedin {
  display: none;
}

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px;
}

.main {
  .search_result {
    @include outer-container;
    @include clearfix;
    margin-bottom: 1em;

    iframe, button {
      @include span-columns(11);
      margin-bottom: .3em;

      @include medium {
        @include span-columns(6);
      }
    }
  }

  .search_button {
    margin-bottom: 1em;
    padding: 1em;
  }
}