<form name="playlist-addition" ng-controller="SongController as songCtrl">
  <label>Enter Playlist Name</label>
  <input type="text" ng-model="songCtrlplaylist" ng-keyup="keyup()">
  <h1>Add to <span ng-show="songCtrlplaylist">"</span>{{ songCtrlplaylist || "Playlist" }}<span ng-show="songCtrlplaylist">"</span></h1>
  <ul>
    <li>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A6ToM0uwxtPKo9CMpbPGYvM" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
      <button ng-click="songCtrl.addToPlaylist('3A6ToM0uwxtPKo9CMpbPGYvM', user, songCtrlplaylist)" ng-disabled="songCtrl.disabled">Add This Song</button>
    </li>
    <li>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A6H3kDe7CGoWYBabAeVWGiD" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
      <button ng-click="songCtrl.addToPlaylist('3A6H3kDe7CGoWYBabAeVWGiD', user, songCtrlplaylist)" ng-disabled="songCtrl.disabled">Add This Song</button>
    </li>
    <li>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A0wJoRiX5K5BxlqZTolB2LD" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
      <button ng-click="songCtrl.addToPlaylist('3A0wJoRiX5K5BxlqZTolB2LD', user, songCtrlplaylist)" ng-disabled="songCtrl.disabled">Add This Song</button>
    </li>
  </ul>
</form>