button, input[type="button"], input[type="reset"], input[type="submit"],
button, .button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #1ED760;
  border-radius: 1px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  line-height: 1;
  padding: 1.25em 1em;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus, .button:hover, .button:focus {
    background-color: #40dd78;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled, .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #b3b3b3;
  border: 1px solid #999;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 1em; }

label {
  font-weight: 300;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 1px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: gray; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #1ED760;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(140, 140, 140, 0.7);
    outline: none; }
  input[type="color"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="datetime"]::-webkit-input-placeholder, input[type="datetime-local"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="month"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="search"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="time"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, input[type="week"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder,
  select[multiple=multiple]::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #bbb; }
  input[type="color"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="datetime"]::-moz-placeholder, input[type="datetime-local"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="month"]::-moz-placeholder, input[type="number"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="search"]::-moz-placeholder, input[type="tel"]::-moz-placeholder, input[type="text"]::-moz-placeholder, input[type="time"]::-moz-placeholder, input[type="url"]::-moz-placeholder, input[type="week"]::-moz-placeholder, textarea::-moz-placeholder,
  select[multiple=multiple]::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #bbb; }
  input[type="color"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="datetime"]:-moz-placeholder, input[type="datetime-local"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="month"]:-moz-placeholder, input[type="number"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="search"]:-moz-placeholder, input[type="tel"]:-moz-placeholder, input[type="text"]:-moz-placeholder, input[type="time"]:-moz-placeholder, input[type="url"]:-moz-placeholder, input[type="week"]:-moz-placeholder, textarea:-moz-placeholder,
  select[multiple=multiple]:-moz-placeholder,
  textarea:-moz-placeholder {
    color: #bbb; }
  input[type="color"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="datetime"]:-ms-input-placeholder, input[type="datetime-local"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="month"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="search"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="time"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, input[type="week"]:-ms-input-placeholder, textarea:-ms-input-placeholder,
  select[multiple=multiple]:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #bbb; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  margin: 0 0 0.75em;
  text-transform: uppercase; }

p {
  margin: 0 0 0.75em; }

a {
  color: #1ED760;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #159442; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #999;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

h1 {
  font-size: 2.7em; }

h2 {
  font-size: 1.5em; }

h3 {
  font-size: 1.3em; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icons/icomoon.eot?w2188j");
  src: url("../fonts/icons/icomoon.eot?w2188j#iefix") format("embedded-opentype"), url("../fonts/icons/icomoon.ttf?w2188j") format("truetype"), url("../fonts/icons/icomoon.woff?w2188j") format("woff"), url("../fonts/icons/icomoon.svg?w2188j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-menu:before {
  content: "\e900"; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

section {
  padding: 0 1em;
  text-align: center; }
  @media screen and (min-width: 53.75em) {
    section {
      padding: 0; } }

.main {
  font-size: 1.3em;
  font-weight: 300;
  position: relative;
  text-transform: uppercase;
  z-index: 1; }
  .main:before {
    background: #fff;
    content: '';
    display: block;
    height: 500px;
    left: 0;
    position: absolute;
    right: 0;
    top: -197px;
    transform: skewY(-7.5deg);
    transform-origin: 100% 0;
    z-index: -1;
    -webkit-backface-visibility: hidden; }
    @media screen and (min-width: 84.1875em) {
      .main:before {
        top: -295px; } }

.inner {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin: 3em auto 5em;
  min-height: 500px;
  max-width: 95%; }
  .inner::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 40em) {
    .inner {
      margin: 0em auto 5em;
      max-width: 80%; } }
  @media screen and (min-width: 53.75em) {
    .inner {
      max-width: 60%; } }

#login, #loggedin {
  display: none; }

.text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 500px; }

.main .search_result {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em; }
  .main .search_result::after {
    clear: both;
    content: "";
    display: table; }
  .main .search_result::after {
    clear: both;
    content: "";
    display: table; }
  .main .search_result iframe, .main .search_result button {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 91.4701957002%;
    margin-bottom: .3em; }
    .main .search_result iframe:last-child, .main .search_result button:last-child {
      margin-right: 0; }
    @media screen and (min-width: 40em) {
      .main .search_result iframe, .main .search_result button {
        float: left;
        display: block;
        margin-right: 2.3576515979%;
        width: 48.821174201%; }
        .main .search_result iframe:last-child, .main .search_result button:last-child {
          margin-right: 0; } }

.main .search_button {
  margin-bottom: 1em;
  padding: 1em; }

.hero {
  background: url(../img/bg.jpg) no-repeat scroll left bottom;
  background-size: cover;
  color: rgba(255, 255, 255, 0.88);
  padding: 10em 4em 16em;
  position: relative;
  max-width: none;
  text-align: left; }
  .hero:before {
    background-color: #24F970;
    content: "";
    height: 100%;
    left: 0;
    mix-blend-mode: multiply;
    position: absolute;
    top: 0;
    width: 100%; }

.hero__title {
  border-bottom: 3px solid rgba(1, 251, 90, 0.16);
  font-size: 3em;
  margin-bottom: .5em;
  position: relative; }

.hero__subtitle {
  font: 300 1.5em/1.2em "Raleway", sans-serif;
  position: relative;
  text-transform: uppercase; }
